@charset "UTF-8";
@import url("https://pro.fontawesome.com/releases/v5.11.2/css/all.css");
body {
  background-image: url("../../ressources/No_elem_template.png");
  background-size: cover;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  transition: 0.25s; }

header {
  width: 100%;
  text-align: center;
  align-items: center;
  display: block;
  background-image: url("../../ressources/No_elem_template.png");
  background-size: cover; }
  header .under_logo {
    /*h1 + sociaux*/
    position: relative;
    text-align: center;
    align-items: center;
    display: flex; }
  header .blanck {
    /*div inv*/
    max-width: 44%;
    flex: 1; }
  header header .logo {
    /*header + logo*/
    width: 100%; }
  header .header_logo {
    /*logo seul*/
    text-align: center;
    font-size: 2rem; }
  header .under_logo .sociaux {
    /*sociaux*/
    display: block;
    align-items: center;
    text-align: center;
    margin-right: 20px;
    font-size: 1.5rem;
    margin-left: auto;
    width: fit-content;
    height: fit-content; }
  header .under_logo .sociaux a {
    text-decoration: none;
    padding: 10px;
    color: white; }
  header h1 {
    /*titre*/
    font-size: 2.5em;
    color: white; }

.nav_element {
  display: flex;
  width: 100%;
  height: 50px;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 0.5rem; }

.nav_anemo {
  height: 50px;
  position: relative;
  width: 16.5%;
  display: flex;
  align-items: center;
  background-image: url("../../ressources/Anemo_template.png");
  background-position: 50% 70%;
  border: 1px solid black;
  font-size: 2.5rem; }
  .nav_anemo a {
    width: 100%;
    height: 50px;
    display: flex;
    text-decoration: none;
    color: white;
    position: relative;
    gap: 30px; }
  .nav_anemo img {
    width: 50px;
    height: auto;
    margin-left: 10px; }
  .nav_anemo p {
    position: relative;
    height: 50px;
    margin: 0; }

.nav_cryo {
  height: 50px;
  position: relative;
  width: 16.5%;
  display: flex;
  align-items: center;
  background-image: url("../../ressources/Cryotemplate.png");
  background-position: 50% 70%;
  border: 1px solid black;
  font-size: 2.5rem; }
  .nav_cryo a {
    width: 100%;
    height: 50px;
    display: flex;
    text-decoration: none;
    color: white;
    position: relative;
    gap: 30px; }
  .nav_cryo img {
    width: 50px;
    height: auto;
    margin-left: 10px; }
  .nav_cryo p {
    position: relative;
    height: 50px;
    margin: 0; }

.nav_electro {
  height: 50px;
  position: relative;
  width: 16.5%;
  display: flex;
  align-items: center;
  background-image: url("../../ressources/Electro_template.png");
  background-position: 50% 70%;
  border: 1px solid black;
  font-size: 2.5rem; }
  .nav_electro a {
    width: 100%;
    height: 50px;
    display: flex;
    text-decoration: none;
    color: white;
    position: relative;
    gap: 30px; }
  .nav_electro img {
    width: 50px;
    height: auto;
    margin-left: 10px; }
  .nav_electro p {
    position: relative;
    height: 50px;
    margin: 0; }

.nav_geo {
  height: 50px;
  position: relative;
  width: 16.5%;
  display: flex;
  align-items: center;
  background-image: url("../../ressources/Geo_template.png");
  background-position: 50% 70%;
  border: 1px solid black;
  font-size: 2.5rem; }
  .nav_geo a {
    width: 100%;
    height: 50px;
    display: flex;
    text-decoration: none;
    color: white;
    position: relative;
    gap: 30px; }
  .nav_geo img {
    width: 50px;
    height: auto;
    margin-left: 10px; }
  .nav_geo p {
    position: relative;
    height: 50px;
    margin: 0; }

.nav_hydro {
  height: 50px;
  position: relative;
  width: 16.5%;
  display: flex;
  align-items: center;
  background-image: url("../../ressources/Hydro_template.png");
  background-position: 50% 70%;
  border: 1px solid black;
  font-size: 2.5rem; }
  .nav_hydro a {
    width: 100%;
    height: 50px;
    display: flex;
    text-decoration: none;
    color: white;
    position: relative;
    gap: 30px; }
  .nav_hydro img {
    width: 50px;
    height: auto;
    margin-left: 10px; }
  .nav_hydro p {
    position: relative;
    height: 50px;
    margin: 0; }

.nav_pyro {
  height: 50px;
  position: relative;
  width: 16.5%;
  display: flex;
  align-items: center;
  background-image: url("../../ressources/Pyro_template.png");
  background-position: 50% 70%;
  border: 1px solid black;
  font-size: 2.5rem; }
  .nav_pyro a {
    width: 100%;
    height: 50px;
    display: flex;
    text-decoration: none;
    color: white;
    position: relative;
    gap: 30px; }
  .nav_pyro img {
    width: 50px;
    height: auto;
    margin-left: 10px; }
  .nav_pyro p {
    position: relative;
    height: 50px;
    margin: 0; }

.credit {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: inherit; }

.options-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 50px; }

.options {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  overflow: hidden;
  min-width: 900px;
  max-width: 1200px;
  width: calc(100% - 100px);
  height: 400px; }

@media screen and (max-width: 718px) {
  body .options {
    min-width: 520px; }

  body .options .option:nth-child(5) {
    display: none; } }
@media screen and (max-width: 638px) {
  body .options {
    min-width: 440px; }

  body .options .option:nth-child(4) {
    display: none; } }
@media screen and (max-width: 558px) {
  body .options {
    min-width: 360px; }

  body .options .option:nth-child(3) {
    display: none; } }
@media screen and (max-width: 478px) {
  body .options {
    min-width: 280px; }

  body .options .option:nth-child(2) {
    display: none; } }
body .options .option {
  position: relative;
  overflow: hidden;
  min-width: 60px;
  margin: 10px;
  background-size: auto 120%;
  background-position: center;
  cursor: pointer;
  transition: 1.8s cubic-bezier(0.05, 0.61, 0.41, 0.95); }

body .options .option.active {
  flex-grow: 10000;
  transform: scale(1);
  max-width: 600px;
  margin: 0px;
  border-radius: 40px;
  background-size: auto 100%;
  /*&:active {*/
  /*   transform:scale(0.9);*/
  /*}*/ }

body .options .option.active .shadow {
  box-shadow: inset 0 -120px 120px -120px black, inset 0 -120px 120px -100px black; }

body .options .option.active .label {
  bottom: 20px;
  left: 20px; }

body .options .option.active .label .info > div {
  left: 0px;
  opacity: 1; }

body .options .option:not(.active) {
  flex-grow: 1;
  border-radius: 30px; }

body .options .option:not(.active) .shadow {
  bottom: -40px;
  box-shadow: inset 0 -120px 0px -120px black, inset 0 -120px 0px -100px black; }

body .options .option:not(.active) .label {
  bottom: 10px;
  left: 10px; }

body .options .option:not(.active) .label .info > div {
  left: 20px;
  opacity: 0; }

body .options .option .shadow {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 120px;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95); }

body .options .option .label {
  display: flex;
  position: absolute;
  right: 0px;
  height: 40px;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95); }

body .options .option .label .icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 40px;
  max-width: 50px;
  height: 50px;
  border-radius: 100%; }

body .options .option .label .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  color: white;
  white-space: pre; }

body .options .option .label .info > div {
  position: relative;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95), opacity 0.5s ease-out; }

body .options .option .label .info .main {
  font-weight: bold;
  font-size: 1.2rem; }

body .options .option .label .info .sub {
  transition-delay: 0.1s; }

/*******************************************************************************************************************/
/****************image champion géo*********************/
.champion-geo1 {
  background-image: url("../../ressources/itto_face.png");
  background-size: cover;
  background-repeat: no-repeat; }

.champion-geo2 {
  background-image: url("../../ressources/Character_Ningguang_Thumb.png");
  background-size: cover;
  background-repeat: no-repeat; }

.champion-geo3 {
  background-image: url("../../ressources/gorou_face.png");
  background-size: cover;
  background-repeat: no-repeat; }

.champion-geo4 {
  background-image: url("../../ressources/Character_Noelle_Thumb.png");
  background-size: cover;
  background-repeat: no-repeat; }

.champion-geo5 {
  background-image: url("../../ressources/Character_Zhongli_Thumb.png");
  background-size: cover;
  background-repeat: no-repeat; }

.champion-geo6 {
  background-image: url("../../ressources/Character_Albedo_Thumb.png");
  background-size: cover;
  background-repeat: no-repeat; }

.champion-geo7 {
  background-image: url("../../ressources/travelers-aether-and-lumine_png_1640.png");
  background-size: cover;
  background-repeat: no-repeat; }

/********************images champion anemo *********************/
.champion-anemo1 {
  background-image: url("../../ressources/Character_Jean_Thumb.png");
  background-size: cover;
  background-repeat: no-repeat; }

.champion-anemo2 {
  background-image: url("../../ressources/Character_Kaedehara_Kazuha_Thumb.png");
  background-size: cover;
  background-repeat: no-repeat; }

.champion-anemo3 {
  background-image: url("../../ressources/Character_Sayu_Thumb.png");
  background-size: cover;
  background-repeat: no-repeat; }

.champion-anemo4 {
  background-image: url("../../ressources/Character_Shikanoin_Heizou_Thumb.png");
  background-size: cover;
  background-repeat: no-repeat; }

.champion-anemo5 {
  background-image: url("../../ressources/Character_Sucrose_Thumb.png");
  background-size: cover;
  background-repeat: no-repeat; }

.champion-anemo6 {
  background-image: url("../../ressources/travelers-aether-and-lumine_png_1640.png");
  background-size: cover;
  background-repeat: no-repeat; }

.champion-anemo7 {
  background-image: url("../../ressources/Character_Venti_Thumb.png");
  background-size: cover;
  background-repeat: no-repeat; }

.champion-anemo8 {
  background-image: url("../../ressources/Character_Xiao_Thumb.png");
  background-size: cover;
  background-repeat: no-repeat; }

.champion-cryo1 {
  background-image: url("../../ressources/Character_Aloy_Thumb.png");
  background-size: cover;
  background-repeat: no-repeat; }

.champion-cryo2 {
  background-image: url("../../ressources/Character_Chongyun_Thumb.png");
  background-size: cover;
  background-repeat: no-repeat; }

.champion-cryo3 {
  background-image: url("../../ressources/Character_Diona_Thumb.png");
  background-size: cover;
  background-repeat: no-repeat; }

.champion-cryo4 {
  background-image: url("../../ressources/Character_Eula_Thumb.png");
  background-size: cover;
  background-repeat: no-repeat; }

.champion-cryo5 {
  background-image: url("../../ressources/Character_Ganyu_Thumb.png");
  background-size: cover;
  background-repeat: no-repeat; }

.champion-cryo6 {
  background-image: url("../../ressources/Character_Kaeya_Thumb.png");
  background-size: cover;
  background-repeat: no-repeat; }

.champion-cryo7 {
  background-image: url("../../ressources/Character_Kamisato_Ayaka_Thumb.png");
  background-size: cover;
  background-repeat: no-repeat; }

.champion-cryo8 {
  background-image: url("../../ressources/Character_Qiqi_Thumb.png");
  background-size: cover;
  background-repeat: no-repeat; }

.champion-cryo9 {
  background-image: url("../../ressources/Character_Rosaria_Thumb.png");
  background-size: cover;
  background-repeat: no-repeat; }

.champion-cryo10 {
  background-image: url("../../ressources/Character_Shenhe_Thumb.png");
  background-size: cover;
  background-repeat: no-repeat; }

.champion-electro1 {
  background-image: url("../../ressources/Character_Beidou_Thumb.png");
  background-size: cover;
  background-repeat: no-repeat; }

.champion-electro2 {
  background-image: url("../../ressources/Character_Fischl_Thumb.png");
  background-size: cover;
  background-repeat: no-repeat; }

.champion-electro3 {
  background-image: url("../../ressources/Character_Keqing_Thumb.png");
  background-size: cover;
  background-repeat: no-repeat; }

.champion-electro4 {
  background-image: url("../../ressources/Character_Kujou_Sara_Thumb.png");
  background-size: cover;
  background-repeat: no-repeat; }

.champion-electro5 {
  background-image: url("../../ressources/Character_Kuki_Shinobu_Thumb.png");
  background-size: cover;
  background-repeat: no-repeat; }

.champion-electro6 {
  background-image: url("../../ressources/Character_Lisa_Thumb.png");
  background-size: cover;
  background-repeat: no-repeat; }

.champion-electro7 {
  background-image: url("../../ressources/Character_Raiden_Shogun_Thumb.png");
  background-size: cover;
  background-repeat: no-repeat; }

.champion-electro8 {
  background-image: url("../../ressources/Character_Razor_Thumb.png");
  background-size: cover;
  background-repeat: no-repeat; }

.champion-electro9 {
  background-image: url("../../ressources/travelers-aether-and-lumine_png_1640.png");
  background-size: cover;
  background-repeat: no-repeat; }

.champion-electro10 {
  background-image: url("../../ressources/Character_Yae_Miko_Thumb.png");
  background-size: cover;
  background-repeat: no-repeat; }

.champion-hydro1 {
  background-image: url("../../ressources/Character_Barbara_Thumb.png");
  background-size: cover;
  background-repeat: no-repeat; }

.champion-hydro2 {
  background-image: url("../../ressources/Character_Kamisato_Ayato_Thumb.png");
  background-size: cover;
  background-repeat: no-repeat; }

.champion-hydro3 {
  background-image: url("../../ressources/Character_Mona_Thumb.png");
  background-size: cover;
  background-repeat: no-repeat; }

.champion-hydro4 {
  background-image: url("../../ressources/Character_Sangonomiya_Kokomi_Thumb.png");
  background-size: cover;
  background-repeat: no-repeat; }

.champion-hydro5 {
  background-image: url("../../ressources/Character_Tartaglia_Thumb.png");
  background-size: cover;
  background-repeat: no-repeat; }

.champion-hydro6 {
  background-image: url("../../ressources/Character_Xingqiu_Thumb.png");
  background-size: cover;
  background-repeat: no-repeat; }

.champion-hydro7 {
  background-image: url("../../ressources/Character_Yelan_Thumb.png");
  background-size: cover;
  background-repeat: no-repeat; }

.champion-pyro1 {
  background-image: url("../../ressources/Character_Amber_Thumb.png");
  background-size: cover;
  background-repeat: no-repeat; }

.champion-pyro2 {
  background-image: url("../../ressources/Character_Bennett_Thumb.png");
  background-size: cover;
  background-repeat: no-repeat; }

.champion-pyro3 {
  background-image: url("../../ressources/Character_Diluc_Thumb.png");
  background-size: cover;
  background-repeat: no-repeat; }

.champion-pyro4 {
  background-image: url("../../ressources/Character_Hu_Tao_Thumb.png");
  background-size: cover;
  background-repeat: no-repeat; }

.champion-pyro5 {
  background-image: url("../../ressources/Character_Klee_Thumb.png");
  background-size: cover;
  background-repeat: no-repeat; }

.champion-pyro6 {
  background-image: url("../../ressources/Character_Thoma_Thumb.png");
  background-size: cover;
  background-repeat: no-repeat; }

.champion-pyro7 {
  background-image: url("../../ressources/Character_Xiangling_Thumb.png");
  background-size: cover;
  background-repeat: no-repeat; }

.champion-pyro8 {
  background-image: url("../../ressources/Character_Xinyan_Thumb.png");
  background-size: cover;
  background-repeat: no-repeat; }

.champion-pyro9 {
  background-image: url("../../ressources/Character_Yanfei_Thumb.png");
  background-size: cover;
  background-repeat: no-repeat; }

.champion-pyro10 {
  background-image: url("../../ressources/Character_Yoimiya_Thumb.png");
  background-size: cover;
  background-repeat: no-repeat; }

/*# sourceMappingURL=style.css.map */
