
@import url("https://pro.fontawesome.com/releases/v5.11.2/css/all.css");

body {
    background-image: url("../../ressources/No_elem_template.png");
    background-size: cover;
    
    height: 100vh;
    font-family: "Roboto", sans-serif;
    transition: 0.25s;
    
}


// Header 


header {
    width:100vw;
    text-align: center;
    align-items: center;
    display: block;
    // background-image: url("../../ressources/No_elem_template.png");
    background-size: cover;
    
    .admin-panel{
        position:relative;
        left:42%;
        color:white;
    }
    
    .log-in{                 /* bouton connexion + logo deco */
    color:white;
    position:relative;
    left:40%;
    width:40px;
    text-decoration:none;
    }
    .log-out{
        text-decoration:none;
        color:white;
        position:relative;
        left:41%;
        
    }
    .under_logo{                /*h1 + sociaux*/
        position: relative;    
        text-align: center;
        align-items: center;
        display:flex;  
    }
    

    header .logo{               /*header + logo*/
        width:100vw;
    }
    .header_logo{               /*logo seul*/ 
        position:relative;                    
        text-align: center;
        font-size: 2rem;  
    }
    .under_logo .sociaux{       /*sociaux*/
        display:block;
        align-items: center;
        text-align: center;
        margin-right: 20px;
        font-size: 1.3em;
        margin-left: auto;
        width: fit-content;
        height: fit-content;
    }
    .under_logo .sociaux a{
        text-decoration: none;
        padding:10px;
        color:white;
    }
        .under_logo .sociaux a:hover{
            color:teal;
        }



    h1{ /*titre*/
        font-size: 2.5em;
        color:white;
        text-shadow: 1px 1px black;
    }
}
.sociaux-timeline{
    justify-content:space-around;
    display:flex;
    width:auto;
    margin-top :2em;
    padding-left:1em;
}
/** bloc map interactive*/
.interactive-map{
    height: 550px;
    width: 300px;
    background-image: url("../../ressources/genshin-impact-carte-interactive-mihoyo.png");
    background-size: cover;
    background-position: 40% 50%;
    background-repeat: no-repeat;
    margin-left:20px;
    border-radius: 20px;
    .map-sign{
        position:relative;
        left:45%;
        text-decoration:none;
        color:white;
        font-size:1.5em;
    }

}
/** block feed instagram **/
.insta-timeline{
    width:300px;
    height:350px;
    position:relative;
    margin-left:40px;
    margin-top:-20px;
    
}

.hidden_degeu{
    /* hidden le temp de trouver une solution &|| un widget sans branding*/
    height:50px;
    width:1300px;
    position:relative;
    right:230%;
    top:-3em;
    background-image:url('../../ressources/No_elem_template.png');
    
}
.css-6kluu6{
    display:flex;
    flex-direction:column;
    transition:opacity 0.1s;
    opacity: 0;
    width:0px;
    background-color: red;
}

/** block new's **/

.gensh-event{
    background-image: url("../../ressources/GenshinImpact_Multi_Jaquette_001.png");
    background-size: cover;
    background-position:50% 50%;
    width:350px;
    height:550px;
    display:flex;
    border-radius:20px;
    margin-left:20px;
 .event-sign{
     text-decoration:none;
     color:white;
     position:relative;
     left:35%;
     font-size:1.5em;
 }   
}



//************PAGE 404 ******************//

.notfound{
    display:block;
    text-align:center;
    color:white;
    
}