/********************images champion anemo *********************/

.champion-anemo1 {
  background-image: url("../../ressources/Character_Jean_Thumb.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.champion-anemo2 {
  background-image: url("../../ressources/Character_Kaedehara_Kazuha_Thumb.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.champion-anemo3 {
  background-image: url("../../ressources/Character_Sayu_Thumb.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.champion-anemo4 {
  background-image: url("../../ressources/Character_Shikanoin_Heizou_Thumb.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.champion-anemo5 {
  background-image: url("../../ressources/itto_face.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.champion-anemo6 {
  background-image: url("../../ressources/itto_face.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.champion-anemo7 {
  background-image: url("../../ressources/itto_face.png");
  background-size: cover;
  background-repeat: no-repeat;
}