.build_disclaimer{
        display:flex;
        color:white;
        font-size:1.5em;
        font-style:bold;
        justify-content:center;
        position:relative;
        left:25%;
        width:910px;
}


.build_layout{
        // display:flex;
        position:relative;
        left:12%;
        
        
        width:800px;
        height:800px;
        // background-image: url("../../ressources/Itto-build.png");
       
}
