.build_disclaimer{
        color:white;
        font-size:1.5em;
        font-style:bold;
        position:relative;
        left:25%;
        width:910px;
}


.build_layout{
        position:relative;
        left:20%;
        size:0.7em;
        
        width:800px;
        height:800px;
        background-image: url("../../ressources/Itto-build.png");
        background-size: cover;
        background-repeat:no-repeat;
}