/***********input ecrire un commentaire***********************/
.comments-title{
        padding:1px 0 1px 0;
       text-shadow:1px 1px black;
        position:relative;
        left:15%;
        overflow:hidden;
        bottom:1%;
        color:white;
        text-align:center;
        border: 1px solid white;
        
        
}
.comments{
        margin-top:1em;
        width:90%;
        max-width:900px;
        display:block;
        position:relative;
        left:14%;
        #comments_box{
                width:900px;
                border-style:none;
                border-radius:10px;
        }
        .submit{
                margin-top:0.3em;
        }
}

/*****************************commentaire deja ecrit************************/

.comments_zone{
        display:flex;
        flex-direction:column;
        color:white;
        border: 1px solid white;
        margin:1em;
        overflow:hidden;
        position:relative;
        width:auto;
        left:16%;
        
        padding-left:1em;
        opacity:100%;
        animation: 2s slidein;
        animation-name: dropup;
        animation-fill-mode:forward;
        
        u{
          font-size:1.2em;      
        }
        .comments_time{
                font-size:0.8em;
                margin-top:-0.8em;
        }
        .msger{
                padding-left:1em;
                font-size:1.1em;
        }
}
.comment_unlog{
        display:flex;
        justify-content:center;
        position:relative;
        left:12%;
        margin:1em;
        padding:1em;
        color:white;
        font-size:1.2em;
        border: 1px solid white;
}
.admin_delete{
        text-decoration:none;
        color:red;
        position:relative;
        left:75%;
        bottom:6em;
}
.drop_down{
        position:relative;
        left:9em;
        width:auto;
        height:2em;
        
        margin-top:1em;
        background-color: white;
        align-items:center;
        text-align:end;
        
        .fa-caret-down{
                color:black;
                margin-left:3em;
                margin-right:1em;
                cursor:pointer;
        }
        .transformed-state{
                transform:rotate(0.5turn);
        }
       
        
}
.transformed-hidden{
        animation: 1s slidein;
        animation-name: dropdown;
        animation-fill-mode:forwards;
        
}
.transformed-toggle{
        animation: 1s slidein;
        animation-name: dropup;
        animation-fill-mode:forward;
}
@keyframes dropdown {
        0%{
                position:relative;
                opacity:100%;
                z-index:-2;
                top:0%;
                
        }
        
        100%{
                position:relative;
                top:-100%;
                opacity:0%;
                z-index:-100;
                
                
        }
}
@keyframes dropup{
        0%{
                position:relative;
                top:-100%;
                opacity:0%;
                z-index:-100;
                    
        }
        100%{
                position:relative;
                top:0%;
                opacity:100%;
                z-index:1;
        }
}

        
