.champion-electro1 {
  background-image: url("../../ressources/Character_Beidou_Thumb.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.champion-electro2 {
  background-image: url("../../ressources/Character_Fischl_Thumb.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.champion-electro3 {
  background-image: url("../../ressources/Character_Keqing_Thumb.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.champion-electro4 {
  background-image: url("../../ressources/Character_Kujou_Sara_Thumb.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.champion-electro5 {
  background-image: url("../../ressources/Character_Kuki_Shinobu_Thumb.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.champion-electro6 {
  background-image: url("../../ressources/Character_Lisa_Thumb.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.champion-electro7 {
  background-image: url("../../ressources/Character_Raiden_Shogun_Thumb.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.champion-electro8{
  background-image: url("../../ressources/Character_Razor_Thumb.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.champion-electro9{
  background-image: url("../../ressources/travelers-aether-and-lumine_png_1640.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.champion-electro10{
  background-image: url("../../ressources/Character_Yae_Miko_Thumb.png");
  background-size: cover;
  background-repeat: no-repeat;
}