 

/*******************************************************************************************************************/

/****************image champion géo*********************/

.champion-geo1 {
  background-image: url("../../ressources/itto_face.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.champion-geo2 {
background-image: url("../../ressources/Character_Ningguang_Thumb.png");
background-size: cover;
background-repeat: no-repeat;

}
.champion-geo3 {
background-image: url("../../ressources/gorou_face.png");
background-size: cover;
background-repeat: no-repeat;

}
.champion-geo4 {
background-image: url("../../ressources/Character_Noelle_Thumb.png");
background-size: cover;
background-repeat: no-repeat;

}
.champion-geo5{
  background-image: url("../../ressources/Character_Zhongli_Thumb.png");
  background-size: cover;
  background-repeat: no-repeat;

}
.champion-geo6{
  background-image: url("../../ressources/Character_Albedo_Thumb.png");
  background-size: cover;
  background-repeat: no-repeat;

}
.champion-geo7{
  background-image: url("../../ressources/travelers-aether-and-lumine_png_1640.png");
  background-size: cover;
  background-repeat: no-repeat;

}