.champion-hydro1 {
  background-image: url("../../ressources/Character_Barbara_Thumb.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.champion-hydro2 {
  background-image: url("../../ressources/Character_Kamisato_Ayato_Thumb.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.champion-hydro3 {
  background-image: url("../../ressources/Character_Mona_Thumb.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.champion-hydro4 {
  background-image: url("../../ressources/Character_Sangonomiya_Kokomi_Thumb.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.champion-hydro5 {
  background-image: url("../../ressources/Character_Tartaglia_Thumb.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.champion-hydro6 {
  background-image: url("../../ressources/Character_Xingqiu_Thumb.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.champion-hydro7 {
  background-image: url("../../ressources/Character_Yelan_Thumb.png");
  background-size: cover;
  background-repeat: no-repeat;
}
