.champion-pyro1 {
  background-image: url("../../ressources/Character_Amber_Thumb.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.champion-pyro2 {
  background-image: url("../../ressources/Character_Bennett_Thumb.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.champion-pyro3 {
  background-image: url("../../ressources/Character_Diluc_Thumb.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.champion-pyro4 {
  background-image: url("../../ressources/Character_Hu_Tao_Thumb.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.champion-pyro5 {
  background-image: url("../../ressources/Character_Klee_Thumb.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.champion-pyro6 {
  background-image: url("../../ressources/Character_Thoma_Thumb.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.champion-pyro7 {
  background-image: url("../../ressources/Character_Xiangling_Thumb.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.champion-pyro8 {
  background-image: url("../../ressources/Character_Yelan_Thumb.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.champion-pyro9 {
  background-image: url("../../ressources/Character_Yelan_Thumb.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.champion-pyro10 {
  background-image: url("../../ressources/Character_Yelan_Thumb.png");
  background-size: cover;
  background-repeat: no-repeat;
}
